In [2]:
import pandas as pd 
import numpy as np

In [3]:
wine= pd.read_csv("/Users/Chhimi/Desktop/Data/wine.data")
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)
wine.head()

   14.23  1.71  15.6  127  3.06  2.29  5.64
0  13.20  1.78  11.2  100  2.76  1.28  4.38
1  13.16  2.36  18.6  101  3.24  2.81  5.68
2  14.37  1.95  16.8  113  3.49  2.18  7.80
3  13.24  2.59  21.0  118  2.69  1.82  4.32
4  14.20  1.76  15.2  112  3.39  1.97  6.75

### Step 5. Assign the columns as below:
- 1) alcohol
- 2) malic_acid
- 3) alcalinity_of_ash
- 4) magnesium
- 5) flavanoids
- 6) proanthocyanins
- 7) hue

In [5]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,4.38
1,13.16,2.36,18.6,101,3.24,2.81,5.68
2,14.37,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75

### Set the values of the first 3 rows from alcohol as NaN

In [6]:
wine.ilocc[0:3, 0] = np.nan
wine.head()

AttributeError: 'DataFrame' object has no attribute 'ilocc'

### Now set the value of the rows 3 and 4 of magnesium as NaN¶

In [7]:
wine.iloc[2:4, 3] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100.0,2.76,1.28,4.38
1,13.16,2.36,18.6,101.0,3.24,2.81,5.68
2,14.37,1.95,16.8,NaN,3.49,2.18,7.80
3,13.24,2.59,21.0,NaN,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75

### Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [8]:
wine.alcohol.fillna(10, inplace = True)
wine.magnesium.fillna(100, inplace = True)
wine.head()

#fillna= manages and let the user replace NaN values with some value of their own.

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100.0,2.76,1.28,4.38
1,13.16,2.36,18.6,101.0,3.24,2.81,5.68
2,14.37,1.95,16.8,100.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,14.20,1.76,15.2,112.0,3.39,1.97,6.75

### Count the number of missing values

In [9]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Create an array of 10 random numbers up until 10

In [7]:
random_1 = np.random.randint(10, size = 10)
random_1

array([0, 6, 0, 3, 1, 4, 0, 8, 4, 9])

### random numbers you generated as an index and assign NaN value to each of cell.

In [8]:
wine.loc[random_1]=np.NaN
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.37,1.95,16.8,113.0,3.49,2.18,7.8
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.7
173,13.40,3.91,23.0,102.0,0.75,1.41,7.3
174,13.27,4.28,20.0,120.0,0.69,1.35,10.2
175,13.17,2.59,20.0,120.0,0.68,1.46,9.3
176,14.13,4.10,24.5,96.0,0.76,1.35,9.2

### How many missing values do we have?

In [1]:
wine.isnull().sum()

NameError: name 'wine' is not defined

### Delete the rows that contain missing values

In [10]:
wine = wine.dropna(axis = 0, how = "any",inplace=True)
wine.head()

AttributeError: 'NoneType' object has no attribute 'head'

### Print only the non-null values in alcohol

In [10]:
wine.alcohol.notnull()

AttributeError: 'NoneType' object has no attribute 'alcohol'

In [ ]:
#wine.alcohol[print1]

### Reset the index, so it starts with 0 again

In [ ]:
wine = wine.reset_index(drop = True)
wine.head()