In [1]:
import pandas as pd

## get to know your data

In [14]:
users=pd.read_csv("/Users/Chhimi/Desktop/Data/assignmet_file/u.user", sep='|', index_col= 'user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [3]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### What is the number of observations in the dataset?

In [4]:
users.count()

age           943
gender        943
occupation    943
zip_code      943
dtype: int64

In [5]:
users.shape[0]

943

### What is the number of columns in the dataset?

In [6]:
len(users.columns)

4

In [7]:
users.shape[1]

4

### Print the name of all the columns

In [8]:
users= pd.read_csv("/Users/Chhimi/Desktop/Data/assignmet_file/u.user")
list(users.columns)

['user_id|age|gender|occupation|zip_code']

In [9]:
users.columns

Index(['user_id|age|gender|occupation|zip_code'], dtype='object')

### How is the dataset indexed?

- index tools= loc, iloc and ix

In [10]:
users.index

RangeIndex(start=0, stop=943, step=1)

### What is datatype of each cloumn?

In [11]:
users.dtypes

user_id|age|gender|occupation|zip_code    object
dtype: object

### How many different occupation are in this dataset?

In [12]:
users["occupation"].value_counts().count()

KeyError: 'occupation'

### What is the most frequent occupation?

In [ ]:
users["occupation"].value_counts().head(1)

In [ ]:
users.columns.values

### Summarize the DataFrame.

In [ ]:
users.describe()

### Summarize all the columns

In [ ]:
users.describe(include="all")

### Summarize only the occupation column

In [ ]:
users.occupation.describe()

### What is the age with least occurrence?

In [ ]:
users.age.value_counts().tail()

##  Load Json file

### read a raw_nyc_phil.json data

In [15]:
nyc=pd.read_json("/Users/Chhimi/Desktop/Data/assignmet_file/raw_nyc_phil.json")
print(nyc.head())

                                            programs
0  {'season': '1842-43', 'orchestra': 'New York P...
1  {'season': '1842-43', 'orchestra': 'New York P...
2  {'season': '1842-43', 'orchestra': 'Musicians ...
3  {'season': '1842-43', 'orchestra': 'New York P...
4  {'season': '1843-44', 'orchestra': 'New York P...

### Normalize a json data so that you get an output with columns
- Date eventType Venue Location Time id orchestra programID season

In [16]:
pd.json_normalize(nyc['programs']).head()

,season,orchestra,concerts,programID,works,id
0,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP....",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'...",894e1a52-1ae5-4fa7-aec0-b99997555a37
3,1842-43,New York Philharmonic,"[{'Date': '1843-04-22T05:00:00Z', 'eventType':...",5887,"[{'workTitle': 'SYMPHONY NO. 2 IN D MAJOR, OP....",34ec2c2b-3297-4716-9831-b538310462b7
4,1843-44,New York Philharmonic,"[{'Date': '1843-11-18T05:00:00Z', 'eventType':...",305,"[{'workTitle': 'SYMPHONY NO. 7 IN A MAJOR, OP....",610a4acc-94e4-4cd6-bdc1-8ad020edc7e9

In [ ]:
pd.json_normalize(nyc['programs'],'concerts')

In [ ]:
pd.json_normalize(nyc['programs'],record_path='concerts', meta=['season','orchestra', 'programID','id'])

### Normalize a json data to get an output with columns :
- soloistName soloistRoles soloistInstrument id

In [17]:
pd.json_normalize(nyc['programs'],record_path= ['works']).head()

,workTitle,conductorName,ID,soloists,composerName,movement,interval,movement.em,movement._,workTitle.em,workTitle._
0,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",52446*,[],"Beethoven, Ludwig van",NaN,NaN,NaN,NaN,NaN,NaN
1,OBERON,"Timm, Henry C.",8834*4,"[{'soloistName': 'Otto, Antoinette', 'soloistR...","Weber, Carl Maria Von","""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...",NaN,NaN,NaN,NaN,NaN
2,"QUINTET, PIANO, D MINOR, OP. 74",NaN,3642*,"[{'soloistName': 'Scharfenberg, William', 'sol...","Hummel, Johann",NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0*,[],NaN,NaN,Intermission,NaN,NaN,NaN,NaN
4,OBERON,"Etienne, Denis G.",8834*3,[],"Weber, Carl Maria Von",Overture,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.json_normalize(nyc['programs'],record_path= ['works','soloists'],meta=['id']).head()

### Normalize a json to get an output with columns
- soloistName soloistRoles soloistInstrument id orchestra programID season Date eventType Venue Location Time

In [18]:
pd.json_normalize(nyc['programs'],record_path= ['works','soloists'],meta=['id','orchestra','programID','season']).head()

,soloistName,soloistRoles,soloistInstrument,id,orchestra,programID,season
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
3,"Derwort, G. H.",A,Viola,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
4,"Boucher, Alfred",A,Cello,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43