## Getting financial data

In [11]:
import pandas as pd

from pandas_datareader import data

import datetime as dt

In [12]:
#Times Seriees= 

import pandas_datareader.data as web

### Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [13]:
timerange= pd.date_range(start="01/01/2015", end =dt.datetime.today(), freq="D")
dt.datetime.today()

datetime.datetime(2020, 11, 30, 13, 22, 20, 853865)

### Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [14]:
#eg:apple =["AAPL"]

stocks=['AAPL', "TSLA", "TWR", "IBM"]

### Read the data from yahoo, assign to df and print it

In [15]:
df = data.get_data_yahoo(stocks, start = timerange[0])
print(df)

Attributes   Adj Close                                     Close              \
Symbols           AAPL        TSLA   TWR         IBM        AAPL        TSLA
Date
2015-01-02   24.696352   43.862000  0.03  124.083694   27.332500   43.862000
2015-01-05   24.000614   42.018002  0.04  122.131233   26.562500   42.018002
2015-01-06   24.002876   42.256001  0.04  119.497353   26.565001   42.256001
2015-01-07   24.339447   42.189999  0.04  118.716354   26.937500   42.189999
2015-01-08   25.274624   42.124001  0.03  121.296631   27.972500   42.124001
...                ...         ...   ...         ...         ...         ...
2020-11-20  117.339996  489.609985   NaN  116.940002  117.339996  489.609985
2020-11-23  113.849998  521.849976   NaN  120.089996  113.849998  521.849976
2020-11-24  115.169998  555.380005   NaN  124.419998  115.169998  555.380005
2020-11-25  116.029999  574.000000   NaN  124.199997  116.029999  574.000000
2020-11-27  116.589996  585.760010   NaN  124.349998  116.589996  585.760010

Attributes                          High              ...   Low              \
Symbols      TWR         IBM        AAPL        TSLA  ...   TWR         IBM
Date                                                  ...
2015-01-02  0.03  162.059998   27.860001   44.650002  ...  0.03  161.000000
2015-01-05  0.04  159.509995   27.162500   43.299999  ...  0.04  159.190002
2015-01-06  0.04  156.070007   26.857500   42.840000  ...  0.04  155.169998
2015-01-07  0.04  155.050003   27.049999   42.956001  ...  0.04  154.029999
2015-01-08  0.03  158.419998   28.037500   42.759998  ...  0.03  155.550003
...          ...         ...         ...         ...  ...   ...         ...
2020-11-20   NaN  116.940002  118.769997  502.500000  ...   NaN  116.690002
2020-11-23   NaN  120.089996  117.620003  526.000000  ...   NaN  117.269997
2020-11-24   NaN  124.419998  115.849998  559.989990  ...   NaN  120.809998
2020-11-25   NaN  124.199997  116.750000  574.000000  ...   NaN  122.110001
2020-11-27   NaN  124.349998  117.489998  598.780029  ...   NaN  123.910004

Attributes        Open                                     Volume              \
Symbols           AAPL        TSLA   TWR         IBM         AAPL        TSLA
Date
2015-01-02   27.847500   44.574001  0.03  161.309998  212818400.0  23822000.0
2015-01-05   27.072500   42.910000  0.04  161.270004  257142000.0  26842500.0
2015-01-06   26.635000   42.012001  0.04  159.669998  263188400.0  31309500.0
2015-01-07   26.799999   42.669998  0.04  157.199997  160423600.0  14842000.0
2015-01-08   27.307501   42.562000  0.03  156.240005  237458000.0  17212500.0
...                ...         ...   ...         ...          ...         ...
2020-11-20  118.639999  497.989990   NaN  117.599998   73391400.0  32807300.0
2020-11-23  117.180000  503.500000   NaN  117.430000  127959300.0  50260300.0
2020-11-24  113.910004  540.400024   NaN  120.860001  113874200.0  53648500.0
2020-11-25  115.550003  550.059998   NaN  122.930000   76499200.0  48930200.0
2020-11-27  116.570000  581.159973   NaN  124.199997   46691300.0  37561100.0

Attributes
Symbols         TWR        IBM
Date
2015-01-02      0.0  5525500.0
2015-01-05  76000.0  4880400.0
2015-01-06      0.0  6146700.0
2015-01-07      0.0  4701800.0
2015-01-08   2500.0  4236800.0
...             ...        ...
2020-11-20      NaN  5024300.0
2020-11-23      NaN  5650400.0
2020-11-24      NaN  7752500.0
2020-11-25      NaN  4135900.0
2020-11-27      NaN  2091200.0

[1488 rows x 24 columns]

### What is the type of structure of df ?

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1488 entries, 2015-01-02 to 2020-11-27
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  1488 non-null   float64
 1   (Adj Close, TSLA)  1488 non-null   float64
 2   (Adj Close, TWR)   776 non-null    float64
 3   (Adj Close, IBM)   1488 non-null   float64
 4   (Close, AAPL)      1488 non-null   float64
 5   (Close, TSLA)      1488 non-null   float64
 6   (Close, TWR)       776 non-null    float64
 7   (Close, IBM)       1488 non-null   float64
 8   (High, AAPL)       1488 non-null   float64
 9   (High, TSLA)       1488 non-null   float64
 10  (High, TWR)        776 non-null    float64
 11  (High, IBM)        1488 non-null   float64
 12  (Low, AAPL)        1488 non-null   float64
 13  (Low, TSLA)        1488 non-null   float64
 14  (Low, TWR)         776 non-null    float64
 15  (Low, IBM)         1488 non-null   float64
 16  (Open, AAPL)       1488 non-null   float64
 17  (Open, TSLA)       1488 non-null   float64
 18  (Open, TWR)        776 non-null    float64
 19  (Open, IBM)        1488 non-null   float64
 20  (Volume, AAPL)     1488 non-null   float64
 21  (Volume, TSLA)     1488 non-null   float64
 22  (Volume, TWR)      776 non-null    float64
 23  (Volume, IBM)      1488 non-null   float64
dtypes: float64(24)
memory usage: 290.6 KB

### Create a dataFrame called vol, with the Volume values.

In [17]:
Vol=df["Volume"]
Vol

Symbols            AAPL        TSLA      TWR        IBM
Date
2015-01-02  212818400.0  23822000.0      0.0  5525500.0
2015-01-05  257142000.0  26842500.0  76000.0  4880400.0
2015-01-06  263188400.0  31309500.0      0.0  6146700.0
2015-01-07  160423600.0  14842000.0      0.0  4701800.0
2015-01-08  237458000.0  17212500.0   2500.0  4236800.0
...                 ...         ...      ...        ...
2020-11-20   73391400.0  32807300.0      NaN  5024300.0
2020-11-23  127959300.0  50260300.0      NaN  5650400.0
2020-11-24  113874200.0  53648500.0      NaN  7752500.0
2020-11-25   76499200.0  48930200.0      NaN  4135900.0
2020-11-27   46691300.0  37561100.0      NaN  2091200.0

[1488 rows x 4 columns]

In [19]:
a = Vol.melt(a) #melt-Pandas melt() function is used to change the DataFrame format from wide to long
a.head()

NameError: name 'a' is not defined

### Aggregate the data of Volume to weekly

In [20]:
Vol.groupby(pd.Grouper(freq="w")).mean()

Symbols            AAPL        TSLA      TWR        IBM
Date
2015-01-04  212818400.0  23822000.0      0.0  5525500.0
2015-01-11  226602000.0  22709600.0  15700.0  4890800.0
2015-01-18  243381280.0  30799200.0  15600.0  4651960.0
2015-01-25  198737000.0  20264625.0  19000.0  7811200.0
2015-02-01  372674160.0  15720200.0   9550.0  6585600.0
...                 ...         ...      ...        ...
2020-11-01  136893420.0  28308740.0      NaN  7449700.0
2020-11-08  121914360.0  29127280.0      NaN  5093460.0
2020-11-15  117915580.0  24420220.0      NaN  6017080.0
2020-11-22   77856100.0  52270700.0      NaN  4499720.0
2020-11-29   91256000.0  47600025.0      NaN  4907500.0

[309 rows x 4 columns]

### Find all the volume traded in the year

In [21]:
year=Vol.groupby(Vol.index.year).sum()
year

Symbols          AAPL          TSLA         TWR           IBM
Date
2015     5.226420e+10  5.441089e+09   9070040.0  1.105583e+09
2016     3.872991e+10  5.811808e+09  26808860.0  1.018606e+09
2017     2.724311e+10  7.950157e+09  30417000.0  1.071166e+09
2018     3.415614e+10  1.080819e+10    758998.0  1.368561e+09
2019     2.825494e+10  1.154024e+10         0.0  9.466952e+08
2020     3.527073e+10  1.531368e+10         0.0  1.295619e+09

### Find all the volume traded in the year 2019

In [22]:
year.loc[2019]

Symbols
AAPL    2.825494e+10
TSLA    1.154024e+10
TWR     0.000000e+00
IBM     9.466952e+08
Name: 2019, dtype: float64

In [ ]:
### import the apple stock only

In [23]:
apple_stock= data.get_data_yahoo(["AAPL"], start= timerange[0])
apple_stock

Attributes,Adj Close,Close,High,Low,Open,Volume
Symbols,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2015-01-02,24.696352,27.332500,27.860001,26.837500,27.847500,212818400.0
2015-01-05,24.000614,26.562500,27.162500,26.352501,27.072500,257142000.0
2015-01-06,24.002876,26.565001,26.857500,26.157499,26.635000,263188400.0
2015-01-07,24.339447,26.937500,27.049999,26.674999,26.799999,160423600.0
2015-01-08,25.274624,27.972500,28.037500,27.174999,27.307501,237458000.0
...,...,...,...,...,...,...
2020-11-20,117.339996,117.339996,118.769997,117.290001,118.639999,73391400.0
2020-11-23,113.849998,113.849998,117.620003,113.750000,117.180000,127959300.0
2020-11-24,115.169998,115.169998,115.849998,112.589996,113.910004,113874200.0
2020-11-25,116.029999,116.029999,116.750000,115.169998,115.550003,76499200.0
2020-11-27,116.589996,116.589996,117.489998,116.220001,116.570000,46691300.0

### Check out the type of the columns

In [24]:
apple_stock.dtypes

Attributes  Symbols
Adj Close   AAPL       float64
Close       AAPL       float64
High        AAPL       float64
Low         AAPL       float64
Open        AAPL       float64
Volume      AAPL       float64
dtype: object

### set Date as columns

In [27]:
apple_stock.reset_index(level=0, inplace=True)
apple_stock.head()

Attributes,level_0,index,Date,Adj Close,Close,High,Low,Open,Volume
Symbols,,,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
0,0,0,2015-01-02,24.696352,27.332500,27.860001,26.837500,27.847500,212818400.0
1,1,1,2015-01-05,24.000614,26.562500,27.162500,26.352501,27.072500,257142000.0
2,2,2,2015-01-06,24.002876,26.565001,26.857500,26.157499,26.635000,263188400.0
3,3,3,2015-01-07,24.339447,26.937500,27.049999,26.674999,26.799999,160423600.0
4,4,4,2015-01-08,25.274624,27.972500,28.037500,27.174999,27.307501,237458000.0

### Transform the Date column as a datetime type

In [29]:
apple_stock["Date"].astype("datetime64")

0      2015-01-02
1      2015-01-05
2      2015-01-06
3      2015-01-07
4      2015-01-08
          ...
1483   2020-11-20
1484   2020-11-23
1485   2020-11-24
1486   2020-11-25
1487   2020-11-27
Name: Date, Length: 1488, dtype: datetime64[ns]

### Set the date as the index
`

In [33]:
apple= apple_stock.set_index("Date")
apple

Attributes,level_0,index,Adj Close,Close,High,Low,Open,Volume
Symbols,,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,,,
2015-01-02,0,0,24.696352,27.332500,27.860001,26.837500,27.847500,212818400.0
2015-01-05,1,1,24.000614,26.562500,27.162500,26.352501,27.072500,257142000.0
2015-01-06,2,2,24.002876,26.565001,26.857500,26.157499,26.635000,263188400.0
2015-01-07,3,3,24.339447,26.937500,27.049999,26.674999,26.799999,160423600.0
2015-01-08,4,4,25.274624,27.972500,28.037500,27.174999,27.307501,237458000.0
...,...,...,...,...,...,...,...,...
2020-11-20,1483,1483,117.339996,117.339996,118.769997,117.290001,118.639999,73391400.0
2020-11-23,1484,1484,113.849998,113.849998,117.620003,113.750000,117.180000,127959300.0
2020-11-24,1485,1485,115.169998,115.169998,115.849998,112.589996,113.910004,113874200.0
2020-11-25,1486,1486,116.029999,116.029999,116.750000,115.169998,115.550003,76499200.0
2020-11-27,1487,1487,116.589996,116.589996,117.489998,116.220001,116.570000,46691300.0

### is there any duplicate dates?

In [35]:
apple.index.duplicated().sum()

0

### make the first entry the oldes date

In [36]:
apple.sort_index()

Attributes,level_0,index,Adj Close,Close,High,Low,Open,Volume
Symbols,,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,,,
2015-01-02,0,0,24.696352,27.332500,27.860001,26.837500,27.847500,212818400.0
2015-01-05,1,1,24.000614,26.562500,27.162500,26.352501,27.072500,257142000.0
2015-01-06,2,2,24.002876,26.565001,26.857500,26.157499,26.635000,263188400.0
2015-01-07,3,3,24.339447,26.937500,27.049999,26.674999,26.799999,160423600.0
2015-01-08,4,4,25.274624,27.972500,28.037500,27.174999,27.307501,237458000.0
...,...,...,...,...,...,...,...,...
2020-11-20,1483,1483,117.339996,117.339996,118.769997,117.290001,118.639999,73391400.0
2020-11-23,1484,1484,113.849998,113.849998,117.620003,113.750000,117.180000,127959300.0
2020-11-24,1485,1485,115.169998,115.169998,115.849998,112.589996,113.910004,113874200.0
2020-11-25,1486,1486,116.029999,116.029999,116.750000,115.169998,115.550003,76499200.0
2020-11-27,1487,1487,116.589996,116.589996,117.489998,116.220001,116.570000,46691300.0

### get the last business day of each month

In [40]:
lastdate=pd.date_range(start=timerange[0], end= dt.datetime.today(), freq="BM")
apple.groupby(pd.Grouper(freq="BM")).mean().head()

Attributes,level_0,index,Adj Close,Close,High,Low,Open,Volume
Symbols,,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,,,
2015-01-30,9.5,9.5,24.992603,27.660375,28.063500,27.333000,27.791000,2.610527e+08
2015-02-27,29.0,29.0,28.428704,31.358026,31.536184,31.007763,31.255921,2.392706e+08
2015-03-31,49.5,49.5,28.567636,31.492727,31.859091,31.246477,31.616591,2.070258e+08
2015-04-30,71.0,71.0,28.867103,31.822857,32.105595,31.556191,31.883810,1.897401e+08
2015-05-29,91.5,91.5,29.298375,32.190375,32.442750,31.915750,32.176875,1.908304e+08

### What is the difference in days between the first day and the oldest

In [41]:
apple.index.max()-apple.index.min()

Timedelta('2156 days 00:00:00')

### how many months in the data we have?

In [42]:
len(apple.groupby(pd.Grouper(freq="m")).mean())

71